* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-style: normal;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  font-size: .32rem;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 1.53rem;
  border-bottom: 2px solid #ececec;
}

.header .top {
  width: 100%;
  height: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0 .25rem;
}

.header .top a {
  color: #0b131f;
}

.header .top a:nth-child(2) {
  width: 5.4rem;
  border-radius: 15px;
  padding-left: .1rem;
  background: #eff2f6;
  padding: .05rem 0;
}

.header .top a:nth-child(2) i {
  padding-left: 1rem;
  color: #d7dbe1;
}

.header .top a:nth-child(2) input {
  outline: none;
  border: none;
  background: #eff2f6;
  padding-left: .07rem;
  height: 100%;
}

.header .top a:nth-child(3) {
  padding-left: .1rem;
}

.header .nav {
  width: 100%;
  height: .83rem;
}

.header .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: .83rem;
}

.header .nav ul li {
  padding: 0 .1rem;
  flex-shrink: 0;
  font-size: 12px;
}

.header .nav ul li i {
  font-size: 10px !important;
}

.header .nav ul li:nth-child(5) i {
  background: #e5e5e5;
  color: #fff;
  border-radius: 50%;
  padding: .03rem;
}

.section {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  padding-top: .27rem;
  padding: 0 .2rem;
}

.section dl {
  width: 100%;
  height: 2.8rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .1rem;
}

.section dl dt {
  width: 2.25rem;
  height: 1.57rem;
}

.section dl dt img {
  width: 100%;
  height: 100%;
}

.section dl dd {
  width: 4.98rem;
  height: 1.57rem;
  padding-left: .1rem;
}

.section dl dd p:nth-child(1) {
  font-size: 14px;
  color: #272a27;
}

.section dl dd p:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .15rem;
}

.section dl dd p:nth-child(2) span {
  font-size: 12px;
}

.section dl dd p:nth-child(2) span:nth-child(1) {
  color: #ccc;
}

.section dl dd p:nth-child(2) span:nth-child(2) {
  color: #ff7e60;
  border: 1px solid #ff7e60;
  padding: .03rem;
  border-radius: 5px;
  font-size: 12px;
}

.section dl dd p:nth-child(3) {
  color: #f67249;
}

.section dl dd p:nth-child(3) span:nth-child(1) {
  font-size: 18px;
}

.section dl dd p:nth-child(3) span:nth-child(2) {
  padding-left: .15rem;
  font-size: 14px;
}

.section dl dd p:nth-child(4) {
  padding-top: .08rem;
  font-size: 12px;
}

.section dl dd p:nth-child(4) span:nth-child(1) {
  background: #ff7f2d;
  color: #fff;
  font-size: 10px;
  padding: 0.03rem .06rem;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section dl dd p:nth-child(4) span:nth-child(2) {
  color: #858e97;
}

.section dl dd p:nth-child(4) i {
  color: #f45b2c;
  font-size: 12px;
  padding-left: .1rem;
}
